<!DOCTYPE html>
<html>
{% include head.html %}
<body>
<header class="flex justify-between w-full bg-gray-200 p-4 sticky top-0">
{% for category in site.categories %}
  {% if page.categories contains category.name %}
    {% for post in category.posts | sort: 'date' %}
      {% if post.url != page.url %}
        {% if post.date < page.date %}
          <div class="flex"><a href="{{ post.url }}">←</a></div>
        {% endif %}
	<div class="flex text-center">{{page.title}}</div>
        {% if post.date > page.date %}
          <div class="flex"><a href="{{ post.url }}">→</a></div>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
</header>
<main class="p-4 justify-center space-y-4">
	{{content}}
</main>
</body>
</html>
