---
layout: default
---
<header class="flex justify-between w-full bg-gray-200 p-4 sticky top-0 dark:bg-slate-800">
    {% if page.previous %}
    <div class="flex items-center"><a href="{{page.previous}}" class="text-xl dark:text-white">←</a></div>
    {% endif %}
    <div class="flex flex-col items-center">
        <h1 class="block text-center text-xl">
            <a href="index.html" class="font-bold underline dark:text-white">{{page.book_title}}</a>
        </h1>
        <h2 class="block text-center">
          <select id="chapterSelect" class="text-center bg-gray-200 dark:bg-slate-800 dark:text-white w-full sm:w-screen-sm" onchange="navigateToLink()">
            {% assign current_book = site.data.books | where: "url", page.book_url | first %}
            <option value="{{current_book.url}}index.html" class="text-base dark:text-white">{{current_book.title}}</option>
            {% for chapter in current_book.chapters %}
            {% assign chapter_url = current_book.url | append: chapter.url %}
              <option value="{{ chapter.url }}" class="text-base dark:text-white" {% if page.url == chapter_url %}selected{% endif %}>
                {{ chapter.title }}
              </option>
            {% endfor %}
          </select>      
        </h2>
    </div>
    {% if page.next %}
    <div class="flex text-right items-center"><a href="{{page.next}}" class="text-xl dark:text-white">→</a></div>
    {% endif %}
</header>
<main id="top" class="chapter-content p-4 justify-center space-y-4 dark:text-white">
{{ content }}
</main>
<footer class="flex sticky bottom-0 w-full bg-gray-200 p-4 dark:bg-slate-800">
    <div class="flex flex-col align-center">
<!-- LikeBtn.com BEGIN -->
<span class="likebtn-wrapper" data-lang="id" data-identifier="item_1" data-site_id="66892e8a6fd08b380ecf1a5c"></span>
<script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
<!-- LikeBtn.com END -->
</footer>