<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}{% if page.book_title %} - {{page.book_title}}{% endif %} | {{ site.title }}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="/assets/js/scripts.js"></script>
  <link rel="stylesheet" href="/assets/css/styles.css" type="media/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="shortcut icon" href="https://nafis1.my.id/favicon.ico" type="image/x-icon">
  <link rel="icon" href="https://nafis1.my.id/favicon.ico" type="image/x-icon">
</head>
<body class="dark:bg-slate-900">
    {{ content }}
    <script type="module">
      // Import the functions you need from the SDKs you need
      import { initializeApp } from "https://www.gstatic.com/firebasejs/10.12.3/firebase-app.js";
      import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.12.3/firebase-analytics.js";
      // TODO: Add SDKs for Firebase products that you want to use
      // https://firebase.google.com/docs/web/setup#available-libraries
    
      // Your web app's Firebase configuration
      // For Firebase JS SDK v7.20.0 and later, measurementId is optional
      const firebaseConfig = {
        apiKey: "AIzaSyBMsSn-xvVj1yTT60Z8br9He2hEZax7_Fg",
        authDomain: "story-nafis.firebaseapp.com",
        projectId: "story-nafis",
        storageBucket: "story-nafis.appspot.com",
        messagingSenderId: "621875545573",
        appId: "1:621875545573:web:d1248bbe3387bc34a59b0c",
        measurementId: "G-CN415JNEHD"
      };
    
      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
      const analytics = getAnalytics(app);
    </script>
</body>
</html>
