<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}{% if page.book_title %} - {{page.book_title}}{% endif %} | {{ site.title }}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="/assets/js/scripts.js"></script>
  <link rel="stylesheet" href="/assets/css/styles.css" type="media/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" media="all">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="shortcut icon" href="https://nafis1.my.id/favicon.ico" type="image/x-icon">
  <link rel="icon" href="https://nafis1.my.id/favicon.ico" type="image/x-icon">
</head>
<body class="dark:bg-slate-900">
    {{ content }}
</body>
<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</html>
