---
layout: default
---
<header class="container mx-auto bg-gray-200 dark:bg-slate-800 py-5">
  <h1 class="text-3xl text-center"><a href="/" class="underline dark:text-white">{{ site.title }}</a></h1>
</header>
  <main class="container mx-auto">
    {{ content }}
  </main>
  <footer class="container mx-auto bg-gray-200 dark:bg-slate-800">
    <div class="flex justify-center"><script type="text/javascript" src="https://cdn.trakteer.id/js/embed/trbtn.min.js?date=18-11-2023"></script><script type="text/javascript">(function(){var trbtnId=trbtn.init('Dukung Saya di Trakteer','#be1e2d','https://trakteer.id/mnafisalmukhdi1','https://cdn.trakteer.id/images/embed/trbtn-icon.png?date=18-11-2023','40');trbtn.draw(trbtnId);})();</script></div>
    <h6 class="text-center dark:text-white">&copy; {{ "now" | date: "%Y" }} Story Nafis</h6>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"rayId":"89a1258b4d833f8e","r":1,"version":"2024.4.1","token":"6d64dc1ab4c546768ae22d625eb984e2"}' crossorigin="anonymous"></script>
  </footer>