<!DOCTYPE html>
<html>
{% include head.html %}
<body>
<header class="flex justify-center p-4">
	<div class="snap-center items-center">
	<img class="aspect-[9/14] w-40 shrink-0 rounded-lg bg-white object-cover shadow-xl" src="{{page.img}}" />
	<h1 class="block text-xl">{{page.title}}</h1>
	</div>
</header>
<main>
	<section class="justify-center px-4 my-2">
	{{page.desc}}
	</section>
	<section class="px-4">
	{% assign sorted_posts = site.posts | sort: 'date' %}
    {% for post in sorted_posts %}
	<ul class="list-none divide-y divide-gray-200">
  	{% if post.url != '/' and post.url != 'index.md' %}
    <li class="py-1"><a href="{{ post.url }}">{{ post.title }}</a></li>
  	{% endif %}
	</ul>
	{% endfor %}
	</section>
</main>
</body>
</html>
